.main-api{
    color: white;
    background-color: #333;
    padding-top: 3em;
    bottom: 0;
/*  width: 100%;*/
}

.api-links {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.box {
  background: #23232a;
  text-align: left;

  padding: 24px;
  border: 2px solid #5b5b5b;
  border-radius: 8px;
  margin: 4% 15%;
}

.grey-text {
  color: #777;
  font-style: italic;
}
.api-links a{
   text-align: left;
    color:#fff;
    text-decoration: none;
    list-style-type: none;
   
    margin-bottom: 50px;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 8px #3204fdc4;
       
    margin: 0;
    padding: 0;
}
.api-links a:hover {
  color: red;
}
p {
  padding: 10px;
}
h1 {
  margin-top: justify;
}

ul {
  margin: 0;
  padding: 0;
}
