.main-footer{
    color: white;
  background: radial-gradient(circle at 70% 10%, #4a4a4a, #1a1814);
 
    padding: 1em 0 0.5em 0;
    bottom: 0;
    width: 140%;
    border-top: 2px solid rgb(204, 198, 198);
}

.footbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footbar-links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.footbar-links a:hover {
  color: red;
}
.main-footer h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.main-footer li {
  margin-bottom: 2px;
  line-height: 1.2;
}
.main-footer hr {
  margin: 10px 0;
}